<% if @users %>
  <h2>Users search for "<%= params[:content] %>"</h2>
  <%= render 'users/search', users: @users %>
<% end %>

<% if @books %>
  <h2>Books search for "<%= params[:content] %>"</h2>
  <%= render 'books/search', books: @books %>
<% end %>
